

@font-face {
  font-family: 'lato';
  src: url('lato-bold-webfont.woff2') format('woff2'),
       url('lato-bold-webfont.woff') format('woff');
  font-weight: bold; /*700*/
  font-style: normal;

}




@font-face {
  font-family: 'lato';
  src: url('lato-light-webfont.woff2') format('woff2'),
       url('lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'lato';
  src: url('lato-regular-webfont.woff2') format('woff2'),
       url('lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat';
  src: url('montserrat-bold-webfont.woff2') format('woff2'),
       url('montserrat-bold-webfont.woff') format('woff');
  font-weight: bold; /*700*/
  font-style: normal;

}




@font-face {
  font-family: 'montserrat';
  src: url('montserrat-light-webfont.woff2') format('woff2'),
       url('montserrat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat';
  src: url('montserrat-regular-webfont.woff2') format('woff2'),
       url('montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}